[Unit]
Description=addr

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/local/bin/addr
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
